/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
bootstrap/cache/config.php

database/seeders/seeder_data/*

#custom
/public/build
/public/uploads
database.sql
1.zip
_ide_helper.php
.phpstorm.meta.php
_.git